In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel("Fonra_Pilot_Final.xlsx" ,header=1)

In [3]:
df.head()

,Regional_sales_manager,Area_Sales_Manager,Total_Base_of_80%_Contribution_outlets_assigned,Total_visits_in_ August,Total_visits_in_September,Total_visits_in_October
0,HR,LAKMAL HETTIARACHCHI,575,188,182,185
1,HR,MOHAMMED RAUF,429,184,180,180
2,LM,NALEEN WIJESIRI,466,181,180,114
3,HP,PRAMUDITHA CHAMARA,333,182,180,180
4,LM,JASANTHA HETTIARACHCHI,234,191,198,182

In [4]:
table_name = "fonterra_pilot"

varchar_columns = ["Area_Sales_Manager", "Regional_sales_manager"]

# Generate SQL
with open("output.sql", "w") as sql_file:
    # Create table SQL
    create_table_query = f"CREATE TABLE {table_name} (\n"
    for column in df.columns:
        if column in varchar_columns:
            create_table_query += f"    `{column}` VARCHAR(255),\n"
        else:
            create_table_query += f"    `{column}` INT,\n"
    create_table_query = create_table_query.rstrip(",\n") + "\n);\n\n"
    sql_file.write(create_table_query)

    # Insert data SQL
    for _, row in df.iterrows():
        values = ", ".join(
            [
                f"'{str(value).replace('\'', '\\\'')}'" if col in varchar_columns else str(value) if pd.notna(value) else "NULL"
                for col, value in zip(df.columns, row)
            ]
        )
        insert_query = f"INSERT INTO {table_name} VALUES ({values});\n"
        sql_file.write(insert_query)

print("SQL file 'output.sql' generated successfully!")

SQL file 'output.sql' generated successfully!